.image img{
    @include img_size;
    border-radius: 0;
}
main{
    margin-top: -80px;
    background-color: $colour-gray;
    border-radius: 50px 50px 0 0;
       
    .restaurant_name{
        font-size: 70%;
        position:relative;
        .heart{
            position:absolute;
            top: 28%;
            right: 5%;
            .fa-heart{
                font-size: 28px;
            }
        }    
    }    
     a.commander{
        width: 300px;
    }
    }
    .menu{
        @include media{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //padding: 20px
    
        //.btn{
          //  margin: 0 0 20px 50px;
            //width: 90%;
       // }
        }
        .bordered-bottom{
            background-image: linear-gradient(to right, rgb(143, 228, 215) 50%, transparent 50%);
            background-size: 100px 6px;
            background-repeat: no-repeat;
            background-position: 30px 75%;
        }
        .course{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            height: 75px;
            overflow: hidden;
            width: 350px;
            //animation: loading_menus 1.5s;
            &:hover{
                box-shadow: 5px 7px 8px rgb(210, 210, 210);
            }   
            .course:hover.dish{
                width: 250px; 
                    }
            .course:hover .validate {
                        width: 100px;
                        opacity: 1;
                    }
            .course .fa-check-circle {
                        color: white;
                        font-size: 30px;
                        transition: transform 1.5s;
                    }
                    &.course:hover .fa-check-circle {
                        transform: rotate(360deg);
                    }


           p, .prix{
                font-weight: 200;
                padding-bottom: 10px;
                
            }
            h6{
                width: 100%;
            }
            h6, p{
                padding-left: 10px;
                text-overflow: ellipsis;
                overflow: hidden;  white-space: nowrap;
            }
            .course .dish {
                transition: width 1s;
                }
        .prix{
            width: 50px;
            font-weight: 700;
            text-align: center;
            z-index: 5;
            //transition: all 1s; 
            //&:hover{
            //transform: translate(-80px);  
                  
        //}
     }
        .validate {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $colour-tertiary;
            border-radius: 0 15px 15px 0;
            width: 80px;
            opacity: 1;
            height: 100%;
            transition: width 1s, opacity 1s; 
         
            
            
           
            
            
        
    }
   
   
    }
    }
    //&:hover{
        //opacity: 1;
       // transform: translate(-40px); 
          // @include flexCenter(colums);
           //position: absolute;
           //top:50px;
           //right: -60px;
           //margin-left: 20px;
           //position: absolute;
            //top:0px;
            //right: -40px;
            //margin-left: 20px;
           

 
        