header{
    display: flex;
    justify-content: center;
    
}
.image img{
    @include img_size;
    border-radius: 0px;
    height: 300px;
}
.main2{
    margin-top: -60px;
    padding-bottom: 30px;
    padding: 20px;
    background-color: $colour-gray;
    border-radius: 50px 50px 0 0 ;
    position: relative;

    .restaurant_name{
        display: flex;
        justify-content: center;
        font-size: 60%;
     
       
        
   
        .heart{
            .fa-heart{
            font-size: 24px;
            padding: 35px;
         
            }
        }    
    } 
}
a.commander{
        width: 300px;
    }
    .dish p{
       font-weight: 200;
        padding-left: 15px;
        padding-bottom: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

}
h5 {
    text-transform: uppercase;
    font-size: 130%;
    font-weight: 100;
    padding-left: 60px;
    padding-bottom: 30px;
}
.bordered-bottom{
    background-image: linear-gradient(to right, rgb(143, 228, 215) 50%, transparent 50%);
    background-size: 100px 6px;
    background-repeat: no-repeat;
    background-position: 63px 75%;
}
.dish h6{
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
    margin-top: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   
}
/* ***************** bouton detail ********* */
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.course {
    opacity: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 20px 5px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 4px 4px 5px  darken($colour-gray,12);
    height: 75px;
    overflow: hidden;
    @include anime;
}    
.course:hover .dish{
    width: 200px; 
} 
.course:hover .validate {
    width: 100px;
    opacity: 1;
}
.course .fa-check-circle {
    color: white;
    font-size: 30px;
    transition: transform 1.5s;
   
    :hover .fa-check-circle {
    transform: rotate(360deg);
    }
}
.dish {
    transition: width 1s;
    width: 350px;
}
.prix{
    width: 100px;
    text-align: right;
    //z-index: 5;
    padding-bottom: 15px;
    padding-right: 20px;
}
.validate {
    display: flex;
    justify-content: center;
        align-items: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color:$colour-tertiary;
        width: 0px;
        opacity: 0;
        height: 100%;
        margin-left: 2px;
        transition: width 1s, opacity 1s;
}
@media (min-width: 768px) {
    .menu{
        display: grid;
        width: 100%;
        margin: auto;
        grid-template-columns: repeat(3,1fr);
    }
}