/* Error: Undefined mixin.
 *   ,
 * 9 |     @include flexTool(row);
 *   |     ^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   sass/pages/index.scss 9:5  @import
 *   sass/main.scss 15:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 9 \2502      @include flexTool(row);\a   \2502      ^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   sass/pages/index.scss 9:5  @import\a   sass/main.scss 15:9        root stylesheet";
}
