.course{
    background-color: $colour-white;
    box-shadow: 4px 4px 5px  darken($colour-gray,12);
    border-radius: 15px;
    height: 75px;
    margin: 15px 10px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    &:active, &:hover{
        .dish, .prix, .valide{
           // flex : 0 1 1;
        }
        .dish{
          max-width: 60%;
          width: auto;
        }
        .prix{
            margin-right: 20px;
        }
        .validate{
            width: 80px;
            margin-right: 0px;  
            opacity: 1;
            .fa-check-circle{
                animation: rotate 1s;
            }
        }
    }
}
.dish, .prix, .valide{
    flex : 1 1 auto;
    p, h6{
    padding-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 299px;
    }
}
.prix{
    text-align: right;
    padding: 32px 15px 11px 0px;
    margin-right: 0;
    transition: margin-right 300ms ease-in-out;
    cursor: pointer;
    }
.validate{
    @include flexTool(column);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color:$colour-tertiary;
    height: 100%;
    width: 0;
    opacity: 0;
    min-width: 80px;
    margin-right: -80px;
    transition: margin-right 300ms ease-in-out;
}