.course{
    width: 360px;
    opacity: 0;
    display: flex;
    align-items: flex-end;
    margin: 15px auto;
    border-radius: 15px;
    background-color: white;
    box-shadow: 4px 4px 5px  darken($colour-gray,12);
    height: 75px;
    overflow: hidden;
    transition: 200ms ease-in;
    &:active{
        .fa-check-circle{
           animation: rotate 1s;
        }
        .dish{
            transition: width 1s;
            min-width: 200px;
            padding-right: 10px;
        }
        .validate{
            width: 80px;  
            opacity: 1;
        }
    }
}
.dish{
    width: 300px;
    justify-content: space-between;
}
.dish p, h6{
    padding-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dish p{
    padding-bottom: 15px;
}
.prix{
    width: 60px;
    text-align: right;
    padding: 0 10px 15px 10px;
}
.validate{
    @include flexCenter(column);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color:$colour-tertiary;
    width: 0px;
    opacity: 0;
    height: 100%;
    transition: width 1s, opacity 1s;
    .fa-check-circle{
        color: white;
        font-size: 30px;
    }
}
