.purple-circle{
    border-radius: 50%;
    background-color: $colour-primary;
    color: $colour-white;
    font-weight: 600;
    padding: 4px 10px;
    margin-right: 30px; 
    position: absolute;
    left: -15px;
    @include flexCenter(column);
    z-index: 1;

 
}