.fonctionnement i {
   font-size: 22px;
   color: darken($colour-gray, 30);
  
    &.fa-mobile-screen{
         font-size: 28px;
         padding-right: 0px;
         padding-left: 0px;
         }
   &:hover{
    color: $colour-primary;
   }
}
//heart-----------------
.description .restaurant_name, .fa-heart {
    font-size: 22px;
    position: absolute;
    top: 2px;
    right: 10px;
}
.description .restaurant_name, .heart .fa {
    opacity: 0;
    transform: scale(1);
    background: linear-gradient($colour-secondary,$colour-primary);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
 .fa:hover{
    opacity: 1;
    transform: scale(1.5); 
}
.fa-arrow-left-long{
    color: $colour-black;
    font-size: 30px;
    padding: 20px;
    position: absolute;
    left: 0px;
    top: 10px;
}
.fa-check-circle{
    font-size: 30px;
    color: white;
    &:hover{
    animation: rotate 1s linear;
    }
}
    
    



       
  
  
 