<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="snipped.css"/>

    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card">
          <div class="part1">
            <h3>
              Tartare de poulpe acidulé
            </h3>
            <p>
              aux zests d'orange
            </p>
          </div>
          <div class="part2">
              25€
          </div>
           <div class="snipped">
              <i class="fas fa-check-circle"></i>
          </div>
        </div>
        <div class="card">
          <div class="part1">
            <H3>
              Tartare de poulpe acidulé
            </H3>
            <p>
              aux zests d'orange
            </p>
          </div>
          <div class="part2">
              25€
          </div>
          <div class="snipped">
              <i class="fas fa-check-circle"></i>
          </div>
        </div>
         <div class="card">
          <div class="part1">
            <H3>
              Tartare de poulpe acidulé
            </H3>
            <p>
              aux zests d'orange
            </p>
          </div>
          <div class="part2">
              25€
          </div>
          <div class="snipped">
              <i class="fas fa-check-circle"></i>
          </div>
        </div>
      </div>

    <div class="menu">
        <div class="entrées">
            <h5 class="bordered-bottom">Entrées</h5>
            <div class="course">
                <div class="dish">
                    <h6>Ravioles de foie gras</h6>
                    <p>Accompagnés de leur crème à la truffe</p>
                </div>
                <div class="prix">25€</div>
                <div class="validate">
                    <i class="fas fa-check-circle"></i>
                </div>
            </div>
            <div class="course">
                <div class="dish">
                
                <h6>Ravioles de foie gras</h6>
                <p>Accompagnés de leur crème à la truffe</p></div>
                <div class="prix">25€
                </div>
                <span class="validate"><i class="fas fa-check-circle"></i></span></span>
            </div>
        </div>
        <div class="plats">
            <h5 class="bordered-bottom">Plats</h5>
                <div class="course">
                    <div class="dish">
                    <h6>Ravioles de foie gras</h6>
                    <p>Accompagnés de leur crème à la truffe</p>
                </div>
                    <div class="prix">25€</div>
                    <span class="validate"><i class="fas fa-check-circle"></i></span></span>
                </div>
        </div>
        <div class="dessert">
            <h5 class="bordered-bottom">Desserts</h5>
                <div class="course">
                    <div class="dish">
                    <h6>Ravioles de foie gras</h6>
                    <p>Accompagnés de leur crème à la truffe</p>
                </div>
                    <span class="prix">25€</span>
                    <span class="validate"><i class="fas fa-check-circle"></i></span>
                </div>
        </div>
    </div>

</body>
</html>