@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.css');


@keyframes slidein {
    from { transform: translate(0,10px);opacity:0 }
    to   { transform: translate(0,0px);opacity:1 }
  }
  
  .container>.card {
    margin-bottom: 10px;
  }
  .container>.card:nth-child(1) {
    margin-bottom: 10px;
    animation: slidein 1s ease-in;
  }
  .container>.card:nth-child(2) {
    margin-bottom: 10px;
    animation: slidein 1s ease-in 0.33s;
  }
  .container>.card:nth-child(3) {
    margin-bottom: 10px;
    animation: slidein 1s ease-in 0.66s;
  }
  .c {
    height: 80px;
    width: 300px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .dish {
    width: 250px;
    transition: width 1s;
  }
  
  .dish>h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .dish>p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .prix {
    width: 100px;
    text-align: center;
    z-index: 5;
  }
  
  .validate {
    display: flex;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: green;
    width: 0px;
    opacity: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: width 5s, opacity 1s;
  }
  
  .fa-check-circle {
    color: white;
    font-size: 20px;
    transition: transform 1.5s;
  }
  
  .course:hover .snipped {
    width: 100px;
    opacity: 1;
  }
  
  .card:hover .fa-check-circle {
    transform: rotate(360deg);
  }
  
  .card:hover .part1 {
    width: 180px;
  }
/* ***************typography   */
body{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin:0;
    padding: 0;
}
.dish p{
    margin:0;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
h5 {
    text-transform: uppercase;
    font-size: 130%;
    font-weight: 100;
    margin:0;
    padding: 10px;
    
}
.dish h6{
    font-size: 18px;
    font-weight: 700;
    margin:0;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   
}
/* ***************** bouton detail ********* */
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.course {
    display: flex;
    
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 3px 5px 4px gray;
    height: 50px;
    overflow: hidden;
    width: 350px;
}    
   .course:hover{
    box-shadow: 5px 7px 8px rgb(210, 210, 210);
    }
    .course:hover .dish {
        width: 250px; 
      } 
    
      .course:hover .validate {
        width: 100px;
        opacity: 1;
    }
    .course .fa-check-circle {
        color: white;
        font-size: 30px;
        transition: transform 1.5s;
    }
    .course:hover .fa-check-circle {
        transform: rotate(360deg);
    }
    .dish {
        transition: width 1s;
        }
      
    .prix{
            width: 50px;
            text-align: center;
            z-index: 5;
          }
    .validate {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: rgb(104, 200, 152);
        width: 0px;
        opacity: 0;
        height: 100%;
        transition: width 1s, opacity 1s;
      }



@media (min-width: 768px) {
    .menu{
        /* flex-flow: row wrap;
        justify-content: space-between ; */
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3,1fr);
        margin: 5%;
        }
       
}

