@import '../utils/mixin';
@import '../utils/variables';
@import '../components/loader';

main{
  form{
    @include flexCenter(row);
    height: 55px;
    background-color: darken($colour-gray, 5);
    border: none;
    box-shadow: inset 0px 10px 5px -6px darken($colour-gray, 20);
    margin: auto;
    margin-bottom: 0;
    }       
  input, label {
    border: none;
    background-color: transparent;
    font-size: large;
    font-weight: 600;
   padding: 10px;
  }
  input{
    width: 170px;
  }
}
  .introduction, .liste_restaurants{
    background-color: $colour-gray;
    padding-bottom: 40px;
    }
  .introduction{
    @include flexCenter(column);
   .introduction__titre{
    width: 90%;
    text-align: center;
    padding-bottom: 40px;     
    }
}
.fonctionnement{
  padding: 30px 0px;
@include media_tablet{
  margin: 2% 2%;
  h2{
    text-align: center;
    margin: auto;
  }
  .grey{
    width: 30%;
  }
  } 
 .trois-etapes{
    background-color: $colour-white;
   
    @include flexCenter(row);
    flex-flow: row wrap;
    position: relative;
    a{
      @include flexCenter(row);
        justify-content: space-evenly;
       
    }
  }
.liste_restaurants{
  padding-top: 40px!important;
  .liste_cards{
    display: grid;
    grid-template-columns: 1fr;
    @include media_mobile{
     grid-template-columns: repeat(2,1fr);
     }
     @include media_tablet{
       grid-template-columns: repeat(4,1fr);
        padding-bottom: 20px;
        font-size: 80%;
      }
    }
}
    
}