@keyframes loading {
  from {
    opacity: 0;
    transform: scale 0;
  }
  to {
    opacity: 1;
    transform: scale 1;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading_menus {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.loader-section {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(241, 189, 247, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: 100ms ease-in loading 1.5s both;
}

.loader {
  font-size: 40px;
  font-family: Shrikhand;
  text-align: center;
  background-color: rgb(177, 41, 185);
}

.section {
  height: 500px;
  line-height: 500px;
  background-color: rgb(75, 71, 215);
}

.loader-section {
  height: 500px;
  line-height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.loader-quart {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 6px solid #9356DC;
}

.loader-quart::after {
  position: absolute;
  top: -10;
  left: -10px;
  bottom: -6px;
  right: -2px;
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 10px solid transparent;
  border-top: 10px solid #FF79DA;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.section2 {
  background-image: rgb(75, 71, 215);
  border-radius: 50px;
  border: 10px solid transparent;
  border-top: #9356DC;
  border-bottom: #f3f3f3;
}

.loader-double {
  border-radius: 50px;
  border: 1px solid transparent;
  border-top: #9356DC;
  border-bottom: #f3f3f3;
}

.loader-double::after {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  content: "";
  border-radius: 50px;
  border: 6px solid transparent;
  border-top: solid #FF79DA;
  border-bottom: solid #FF79DA;
  opacity: 0.8;
  animation: spinreverse 4s linear infinite;
}

.loader-double::after {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  content: "";
  border-radius: 50px;
  border: 6px solid transparent;
  border-top: solid #9356DC;
  border-bottom: solid #FF79DA;
  opacity: 0.8;
  animation: spinreverse 4s linear infinite;
}

@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.section3 {
  background-color: cadetblue;
  height: 200px;
}

.loader-circles {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  border-top: #fff;
  animation: spinreverse 5s linear infinite;
  color: white;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
main form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: #e6e6e6;
  border: none;
  box-shadow: inset 0px 10px 5px -6px silver;
  margin: auto;
  margin-bottom: 0;
}
main input, main label {
  border: none;
  background-color: transparent;
  font-size: large;
  font-weight: 600;
}
main input {
  width: 150px;
}

.introduction, .liste_restaurants {
  background-color: #f3f3f3;
  padding: 40px 0px;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introduction .introduction__titre {
  width: 75%;
  text-align: center;
  margin-bottom: 30px;
}

.trois-etapes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  position: relative;
}
.trois-etapes a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.liste_restaurants .liste_cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .liste_restaurants .liste_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=index.css.map */