@mixin flexCenter($direction){
    display: flex;
    flex-direction:$direction;
    justify-content: center; 
    align-items: center; 
   }
@mixin img_size{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    padding-bottom: 15px;
}
@mixin center_title{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin media_mobile{
    @media (min-width: 767px) {
        @content;
    }
}
@mixin media_tablet{
    @media(min-width:992px) {@content;
    }
}
@mixin anime{
    animation: loading_menus 5s;
    animation-fill-mode: forwards;
    @for $i from 1 through 10 {
                &:nth-child(#{$i}){
                    animation-delay :100ms * $i;
                }
}
}


@keyframes scale {
    from {
        opacity: 0;
        transform : scale(0);
    }
to {
   opacity: 1;
    transform : scale(1);
}
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}
@keyframes loading_menus {
    0% {
        opacity: 0;
        
      transform: translateY(500px);
     
    }
    50% {
        opacity: 0.5;
          transform: translateY(0);
         }
   100% {
    opacity: 1;
      transform: translateY(0);
     }
  }

